.bodyContainer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 250rem;
    background-color: #D1E0DA;
}

.search{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 3rem;
    padding-left: .5rem;
}

.card-container{
    width: 100%;
    position: absolute;
    display: grid;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
   align-content: center;
   padding: 3rem;

    
   
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10,1fr);
    grid-gap: 3rem;
    
    
   

    
}