

.card{
   
    // width: 25rem;
    height: 20rem;
    background-color: blue;
    text-align: center;
    top: 90rem;
    transition: .2s ease-in-out;

    &:hover{
        transform: scale(1.03)
    }
    
    
    
}